<style>
    .layui-unselect dl {
        max-height: 600px;
    }
</style>

<div class="layui-fluid layui-anim febs-anim" id="febs-order" th:lay-title="#{order.title}">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" id="order-table-form" lay-filter="order-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{acnum}"></label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="acnum" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{amount}"></label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="amount" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <!--<div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createTime" id="order-createTime" class="layui-input">
                                        </div>
                                    </div>-->
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{status}"></label>
                                        <div class="layui-input-inline">
                                            <select name="orderStatus" id="orderStatus" style="width: 300px;">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{order.isExpire}"></label>
                                        <div class="layui-input-inline">
                                            <select name="isExpire">
                                                <option value=""></option>
                                                <option value="0" th:text="#{order.notExpire}"></option>
                                                <option value="1" th:text="#{order.alreadyExpire}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{order.alarm}"></label>
                                        <div class="layui-input-inline">
                                            <select name="isAlarm">
                                                <option value=""></option>
                                                <option value="0" th:text="#{order.normal}"></option>
                                                <option value="1" th:text="#{order.injectOvertime}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{orderId}"></label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="orderNumber" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="febs-hide" id="refreshQuery"></div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>

                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action"
                                     id="add" shiro:hasAnyPermissions="order:add">
                                    <i class="layui-icon">&#xe891;</i>
                                </div>

                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action"
                                     id="download" shiro:hasAnyPermissions="order:export">
                                    <i class="layui-icon">&#xe82a;</i>
                                </div>

                                <!--下拉框-->
                                <!--<div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="order:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>-->
                            </div>
                        </div>
                    </form>
                    <table lay-filter="orderTable" lay-data="{id: 'orderTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="order-expire">
    {{#
    var status = {
    0: {title: i18n("order.notExpire"), color: 'green'},
    1: {title: i18n("order.alreadyExpire"), color: 'red'}
    }[d.isExpire];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="order-alarm">
    {{#
    var status = {
    0: {title: i18n("order.normal"), color: 'green'},
    1: {title: i18n("order.injectOvertime"), color: 'red'}
    }[d.isAlarm];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="order-status">
    {{#
    var status = {
    1: {title: i18n("order.createOrder"), color: 'blue'},
    2: {title: i18n("order.auditIng"), color: 'blue'},
    3: {title: i18n("order.auditPass"), color: 'blue'},
    4: {title: i18n("order.auditNotPass"), color: 'red'},
    5: {title: i18n("order.machineGetData"), color: 'blue'},
    6: {title: i18n("order.machineInjectionSuccess"), color: 'green'},
    7: {title: i18n("order.machineInjectionFail"), color: 'red'},
    8: {title: i18n("order.orderRepeal"), color: 'gold'},
    9: {title: i18n("order.orderFreeze"), color: 'gold'},
    10: {title: i18n("order.orderCloseApplyIng"), color: 'blue'},
    11: {title: i18n("order.orderCloseApplyNotPass"), color: 'red'},
    }[d.orderStatus];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="order-option">
    <span shiro:lacksPermission="order:update">
        <span class="layui-badge-dot febs-bg-orange"></span> <span  th:text="#{noPermission}"></span>
    </span>

    <div shiro:hasPermission="order:update">
        {{#
        layui.each(d.btnList, function(index, item){
        }}
        <a lay-event="{{ item.event }}">{{ item.title }} </a>
        {{# }); }}

        {{# if(d.btnList.length === 0){ }}
        <span class="layui-badge-dot febs-bg-orange"></span> <span  th:text="#{noPermission}"></span>
        {{# } }}

        <!--<a lay-event="editBtn">修改</a>
        <a lay-event="submitInjectionBtn">注资审核</a>
        <a lay-event="submitCloseBtn">闭环审核</a>
        <a lay-event="auditDetail">审核详情</a>
        <a lay-event="repealBtn">注销</a>
        <a lay-event="freezeBtn">冻结</a>
        <a lay-event="unfreezeBtn">解冻</a>-->
    </div>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-order'),
            $query = $view.find('#query'),
            $refreshQuery = $view.find('#refreshQuery'),
            $reset = $view.find('#reset'),
            $add = $view.find('#add'),
            $download = $view.find('#download'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;



        form.render();
        initSearchView();
        initTable();
        initTableTool();
        initSelect();
        /**
         * 查询表单数据
         */
        function queryTable(isFirstQuery) {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            if (isFirstQuery == 1) {
                tableIns.reload({where: params, page: {curr: 1}});
            } else {
                var pageNum = $view.find(".layui-laypage-em").next().html();
                tableIns.reload({where: params, page: {curr: pageNum}});
            }
        }

        /**
         * 初始化搜索栏
         */
        function initSearchView() {

            //搜索点击事件
            $query.on('click', function () {
                queryTable(1);
            });

            //修改参数后，返回主页，刷新，回到指定页面
            $refreshQuery.on('click', function () {
                queryTable(0);
            })

            //刷新点击事件
            $reset.on('click', function () {
                $searchForm[0].reset();

                sortObject.type = 'null';
                createTimeTo = null;
                createTimeFrom = null;

                //直接刷新到第一页
                tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
            });

            //添加点击事件
            $add.on('click', function () {
                febs.modal.open(i18n("order.addOrder"), 'order/add', {
                    btn: [i18n("submit"), i18n("reset")],
                    area: $(window).width() <= 750 ? ['95%', '90%'] : ['50%', '90%'],
                    offset: '30px',
                    yes: function (index, layero) {
                        $('#order-add').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        $('#order-add').find('#reset').trigger('click');
                        return false;
                    }
                });
            });

            //导出报表
            $download.on('click', function () {
                var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                params.pageNum = $view.find(".layui-laypage-em").next().html();
                febs.download(ctx + 'order/excel', params, i18n("order.orderExcel") + '.xlsx');
            });

            /*//更多——弹出窗
            dropdown.render({
                elem: $view.find('.action-more'),
                click: function (name, elem, event) {
                    var checkStatus = table.checkStatus('orderTable');
                    if (name === 'add') {
                        febs.modal.open('新增设备', 'order/add', {
                            btn: ['提交', '重置'],
                            area: $(window).width() <= 750 ? '95%' : '50%',
                            offset: '30px',
                            yes: function (index, layero) {
                                $('#order-add').find('#submit').trigger('click');
                            },
                            btn2: function () {
                                $('#order-add').find('#reset').trigger('click');
                                return false;
                            }
                        });
                    }
                    if (name === 'export') {
                        var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                        params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                        params.pageNum = $view.find(".layui-laypage-em").next().html();
                        febs.download(ctx + 'order/excel', params, '设备信息表.xlsx');
                    }
                },
                options: [/!*{
                    name: 'add',
                    title: '新增注资',
                    perms: 'order:add'
                },*!/  {
                    name: 'export',
                    title: '导出报表',
                    perms: 'order:export'
                }]
            });*/
        }

        /**
         *初始化表格
         */
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'orderTable',
                url: ctx + 'order/list',
                cols: [[
                    {type: 'numbers'},
                    {field: 'acnum', title: i18n("acnum"), width: 90},
                    {field: 'orderNumber', title: i18n("orderId"), minWidth: 180},
                    {field: 'amount', title: i18n("amount"), width: 110},
                    {field: 'applyUserName', title: i18n("order.applyer"), width: 120},
                    {field: 'auditUserName', title: i18n("order.auditor"), width: 120},
                    {title: i18n("status"), templet: '#order-status'},
                    {title: i18n("order.isExpire"), width: 90, templet: '#order-expire'},
                    {title: i18n("order.isAlarm"), minWidth: 90, templet: '#order-alarm'},
                    // {field: 'createTime', title: '创建时间', minWidth: 180, sort: false},
                    {field: 'endTime', title: i18n("order.endTime"), minWidth: 180, sort: false},
                    {title: i18n("operation"), toolbar: '#order-option', minWidth: 350}
                ]]
            });
        }

        /**
         * 初始化表格工具栏
         */
        function initTableTool() {
            table.on('tool(orderTable)', function (obj) {
                var data = obj.data,
                    layEvent = obj.event;
                //修改
                if (layEvent === 'editBtn') {
                    febs.modal.open(i18n("order.editOrder"), 'order/update/' + data.orderId, {
                        area: $(window).width() <= 750 ? '90%' : '50%',
                        offset: '30px',
                        btn: [i18n("submit"), i18n("cancel")],
                        yes: function (index, layero) {
                            $('#order-update').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });
                }

                //注资审核 有个一备注栏，可填写
                if (layEvent == 'submitInjectionBtn') {
                    febs.modal.open(i18n("order.submitInjectApply"), 'order/submitApply/' + data.orderId + '/1', {
                        area: $(window).width() <= 750 ? '90%' : '50%',
                        offset: '30px',
                        btn: [i18n("submit"), i18n("cancel")],
                        yes: function (index, layero) {
                            $('#order-submit-injection').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });
                }

                //闭环审核
                if (layEvent == 'submitCloseBtn') {
                    febs.modal.open(i18n("order.submitCloseApply"), 'order/submitApply/' + data.orderId + '/2', {
                        area: $(window).width() <= 750 ? '90%' : '50%',
                        offset: '30px',
                        btn: [i18n("submit"), i18n("cancel")],
                        yes: function (index, layero) {
                            $('#order-submit-injection').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });
                }

                //审核详情
                if (layEvent == 'auditDetail') {
                    febs.modal.open(i18n("order.auditDetail"), 'audit/selectByOrderId/' + data.orderId, {
                        area: $(window).width() <= 750 ? '90%' : '70%',
                        offset: '30px',
                        btn: [i18n("close")],
                        yes: function () {
                            layer.closeAll();
                        }
                    });
                }

                //注销
                if (layEvent == 'repealBtn') {
                    febs.modal.confirm(i18n("notice"), i18n("order.confirmRepeal"), function () {
                        $.post(ctx + "order/cancel", {orderId:data.orderId}, function (res) {
                            if (res.code === 200) {
                                febs.alert.info(i18n("order.repealSuccess"));
                                queryTable(0);
                            } else {
                                febs.alert.error(res.message);
                            }
                        })
                    })
                }

                //冻结
                if (layEvent == 'freezeBtn') {
                    febs.modal.confirm(i18n("notice"), i18n("order.confirmFreeze"), function () {
                        $.post(ctx + "order/freeze", {orderId:data.orderId}, function (res) {
                            if (res.code === 200) {
                                febs.alert.info(i18n("order.freezeSuccess"));
                                queryTable(0);
                            } else {
                                febs.alert.error(res.message);
                            }
                        })
                    })
                }

                //解冻
                if (layEvent == 'unfreezeBtn') {
                    febs.modal.confirm(i18n("notice"), i18n("order.confirmUnfreeze"), function () {
                        $.post(ctx + "order/unfreeze", {orderId:data.orderId}, function (res) {
                            if (res.code === 200) {
                                febs.alert.info(i18n("order.confirmUnfreeze"));
                                queryTable(0);
                            } else {
                                febs.alert.error(res.message);
                            }
                        })
                    })
                }
            });

            table.on('sort(orderTable)', function (obj) {
                sortObject = obj;
                tableIns.reload({
                    initSort: obj,
                    where: $.extend(getQueryParams(), {
                        field: obj.field,
                        order: obj.type
                    })
                });
            });
        }


        /**
         * 获取查询信息
         */
        function getQueryParams() {
            /*var createTime = $searchForm.find('input[name="createTime"]').val();
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }*/
            return {
                // createTimeFrom: createTimeFrom,
                // createTimeTo: createTimeTo,
                acnum: $searchForm.find('input[name="acnum"]').val().trim(),
                amount: $searchForm.find('input[name="amount"]').val().trim(),
                orderStatus: $searchForm.find("select[name='orderStatus']").val(),
                isExpire: $searchForm.find("select[name='isExpire']").val(),
                isAlarm: $searchForm.find("select[name='isAlarm']").val(),
                orderNumber: $searchForm.find('input[name="orderNumber"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }

        /**
         * 处理下拉框
         */
        function initSelect() {
            $.ajax({
                url: ctx + "order/selectStatus",
                type: 'get',
                success: function (data) {
                    $.each(data.data, function (index, item) {
                        $('#orderStatus').append("<option value=" + item.status + ">" + item.title + "</option>");
                    });
                    layui.form.render("select");
                }
            });
        }

    })
</script>