<div class="layui-fluid layui-anim febs-anim" id="febs-audit" lay-title="注资管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <table lay-filter="auditTable" lay-data="{id: 'auditTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="audit-type">
    {{#
    var status = {
    1: {title: '请求注资', color: 'none'},
    2: {title: '请求闭环', color: 'red'}
    }[d.auditType];
    }}
    <span>{{ status.title }}</span>
</script>
<script type="text/html" id="audit-status">
    {{#
    var status = {
    0: {title: '审核中', color: 'blue'},
    1: {title: '成功', color: 'green'},
    2: {title: '驳回', color: 'red'},
    3: {title: '冻结中', color: 'gold'},
    4: {title: '已注销', color: 'gold'}
    }[d.status];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-audit'),
            $orderId = [[${orderId}]],
            sortObject = {field: 'createTime', type: null},
            tableIns;


        tableIns = febs.table.init({
            elem: $view.find('table'),
            id: 'auditTable',
            url: ctx + 'audit/selectByOrderId/'+ $orderId,
            cols: [[
                {type: 'numbers'},
                {field: 'orderNumber', title: '订单号', width: 180},
                {field: 'amount', title: '注资金额', minWidth: 90},
                /*{field: 'applyUserName', title: '申请人', width: 90},
                {field: 'auditUserName', title: '审核人', width: 90},*/
                {title: '审核类型', templet: '#audit-type'},
                {title: '审核状态', templet: '#audit-status'},
                {field: 'submitInfo', title: '提交备注', minWidth: 90},
                {field: 'checkRemark', title: '审核备注', minWidth: 90},
                {field: 'auditRealName', title: '审核人', minWidth: 90},
                {field: 'submitRealName', title: '提交人', minWidth: 90},
                {field: 'createTime', title: '提交时间', minWidth: 180, sort: false}
            ]]
        });
    });
</script>