<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.order.mapper.OrderMapper">
    <sql id="pageSelectCondition">
        <if test="order.acnum != null and order.acnum != ''">
            and d.acnum = #{order.acnum}
        </if>
        <if test="order.amount != null and order.amount != ''">
            and o.amount = #{order.amount}
        </if>
        <if test="order.orderStatus != null and order.orderStatus != ''">
            and o.order_status = #{order.orderStatus}
        </if>
        <if test="order.orderNumber != null and order.orderNumber != ''">
            and o.order_number = #{order.orderNumber}
        </if>
        <if test="order.isExpire != null and order.isExpire != ''">
            and o.is_expire = #{order.isExpire}
        </if>
    </sql>


    <select id="selectBySystemManager" resultType="cc.mrbird.febs.order.entity.OrderVo">
        select
        o.*,d.acnum,d.nickname,u1.realname as applyUserName, u2.realname as auditUserName, u3.realname as closeUserName
        from
        t_order o
        left join
        t_device d on (d.device_id = o.device_id)
        left join
        t_user u1 on (u1.user_id = o.apply_user_id)
        left join
        t_user u2 on (u2.user_id = o.audit_user_id)
        left join
        t_user u3 on (u3.user_id = o.close_user_id)
        where
         1=1
        <include refid="pageSelectCondition"/>
    </select>

    <select id="selectByOrganizationManager" resultType="cc.mrbird.febs.order.entity.OrderVo">
        select
        o.*,d.acnum,d.nickname,u1.realname as applyUserName, u2.realname as auditUserName, u3.realname as closeUserName
        from
        t_user_device ud
        inner join
        t_order o on (o.device_id = ud.device_id)
        left join
        t_device d on (d.device_id = ud.device_id)
        left join
        t_user u1 on (u1.user_id = o.apply_user_id)
        left join
        t_user u2 on (u2.user_id = o.audit_user_id)
        left join
        t_user u3 on (u3.user_id = o.close_user_id)
        where
        ud.user_id = #{curUserId}
        <include refid="pageSelectCondition"/>
        group by
        o.order_id
    </select>


    <select id="selectByUserId" resultType="cc.mrbird.febs.order.entity.OrderVo">
        select
        o.*,d.acnum,d.nickname,u1.realname as applyUserName, u2.realname as auditUserName, u3.realname as closeUserName
        from
        t_order o
        left join
        t_device d on (d.device_id = o.device_id)
        left join
        t_user u1 on (u1.user_id = o.apply_user_id)
        left join
        t_user u2 on (u2.user_id = o.audit_user_id)
        left join
        t_user u3 on (u3.user_id = o.close_user_id)
        where
        o.apply_user_id = #{curUserId}
        <include refid="pageSelectCondition"/>
    </select>

</mapper>
