<div class="layui-fluid layui-anim febs-anim" id="febs-transaction-msg" th:lay-title="#{printJob.manage}">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <table lay-filter="transactionMsgTable" lay-data="{id: 'transactionMsgTable'}"></table>
                    <input id="transactionId" type="hidden" th:value="${transactionId}" />
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            $view = $('#febs-transaction-msg'),
            tableIns;

        form.render();
        var transactionId = $("#transactionId").val();

        myInitTable();

        /**
         *初始化表格
         */
         function myInitTable() {
             tableIns = febs.table.init({
                 elem: $view.find('table'),
                 id: 'transactionMsgTable',
                 url: ctx + 'transactionMsg',
                 where:{
                   transactionId: transactionId
                 },
                 cols: [[
                     {field: 'id', title: i18n("transactionMsg.id"), minWidth: 100},
                     {field: 'transactionId', title: i18n("transaction.id"), minWidth: 100},
                     {field: 'dmMsg', title: i18n("transactionMsg.dmMsg"), minWidth: 300}
                 ]]
             });

         }

    })
</script>


