<style>
    #printJob-update {
        padding: 20px 25px 25px 0;
    }

    #printJob-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #printJob-update #data-permission-tree-block {
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 3px 0;
    }

</style>
<div class="layui-fluid" id="printJob-update">
    <form class="layui-form" action="" lay-filter="printJob-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">id</label>
            <div class="layui-input-block">
                <input type="text" name="printJobId" data-th-value="${printJob.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require" th:text="#{printJob.contractCode}"></label>
            <div class="layui-input-block">
                <input type="text" name="contractCode" minlength="4" maxlength="10" data-th-id="${printJob.id}"
                       lay-verify="range|contractCode" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" th:text="#{printJob.foreseenId}"></label>
            <div class="layui-input-block">
                <input type="text" name="foreseenId" minlength="2" maxlength="10" lay-verify="foreseenId"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" th:text="#{printJob.transactionId}"></label>
            <div class="layui-input-block">
                <input type="text" name="mobile" lay-verify="transactionId" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" th:text="#{printJob.frankMachineId}"></label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="frankMachineId" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label febs-form-item-require" th:text="#{flow.colon}"></label>-->
<!--            <div class="layui-input-block">-->
<!--                <input type="radio" name="status" value="1" th:title="#{printJob.enable}">-->
<!--                <input type="radio" name="status" value="0" th:title="#{printJob.disable}">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item layui-form-text">-->
<!--            <label class="layui-form-label" th:text="#{createdTime}"></label>-->
<!--            <div class="layui-input-block">-->
<!--                <textarea name="description" maxlength="100" class="layui-textarea">-->
<!--                </textarea>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item febs-hide">-->
<!--            <button class="layui-btn" lay-submit="" lay-filter="printJob-update-form-submit" id="submit"></button>-->
<!--        </div>-->
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'eleTree'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            eleTree = layui.eleTree,
            printJob = [[${printJob}]],
            curRoleId = [[${roleId}]],//当前登录用户的roldId
            $view = $('#printJob-update'),
            validate = layui.validate,
            _deptTree;
        form.verify(validate);
        form.render();
        initprintJobValue();
alert("printJob:"+JSON.stringify(printJob))
        //处理下拉框
        initRoleSelect();

        treeSelect.render({
            elem: $view.find('#printJob-update-status'),
            type: 'get',
            data: ctx + 'dept/select/tree',
            placeholder: i18n("select"),
            search: false,
            success: function () {
                treeSelect.checkNode('printJob-update-dept', printJob.deptId);
            }
        });

        function initRoleSelect(){
            $.ajax({
                url: ctx + "role/selectRole",
                type: 'get',
                success: function (data) {
                    $.each(data.data, function (index, item) {
                        if (printJob.roleId == item.roleId) {
                            $('#roleId').append("<option value="+item.roleId+" selected >"+item.roleName+"</option>");
                        }else{
                            $('#roleId').append("<option value="+item.roleId+">"+item.roleName+"</option>");
                        }
                    });
                    layui.form.render("select");
                }
            });
        }

        function initprintJobValue() {
            form.val("printJob-update-form", {


                "contractCode": printJob.contractCode,
                "foreseenId": printJob.foreseenId,
                "mobile": printJob.mobile,
                "transactionId": printJob.transactionId,
                "frankMachineId": printJob.frankMachineId,
                "printJob.flow": printJob.flow,
                "createdTime": printJob.createdTime
            });
        }

        form.on('submit(printJob-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, printJob)) {
                febs.alert.warn(i18n("noEdit"));
                return false;
            }

            if(curRoleId == 1 || curRoleId == 2){
                data.field.roleId = 0;
            }

            febs.post(ctx + 'printJob/update', data.field, function () {
                layer.closeAll();

                febs.alert.success(printJob.printJobname + i18n("printJobDevice.editSuccess"));
                $('#febs-printJob').find('#refreshQuery').click();
            });
            return false;
        });
    });
</script>