<div class="layui-fluid layui-anim febs-anim" id="febs-printJob" th:lay-title="#{printJob.manage}">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="printJob-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{printJob.contractCode}+':'" style="width: 100px;"></label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="contractCode" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{printJob.status}"></label>
                                        <div class="layui-input-inline">
                                            <select name="flow">
                                                <option value=""></option>
                                                <option value="0" th:text="#{printJob.notBegin}"></option>
                                                <option value="1" th:text="#{printJob.flowing}"></option>
                                                <option value="2" th:text="#{printJob.successFlowed}"></option>
                                                <option value="3" th:text="#{printJob.failFlowed}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{printJob.foreseenId}+':'" style="width: 100px;"></label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="foreseenId" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="febs-hide" id="refreshQuery"></div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>

                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action"
                                        shiro:hasAnyPermissions="printJob:update,printJob:delete,printJob:export"
                                     id="add">
                                    <i class="layui-icon">&#xe891;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="printJob:add,printJob:update,printJob:delete,printJob:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="printJobTable" lay-data="{id: 'printJobTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//从后端数据库查到的是0/1状态Flow和detail,查询条件detail=70时status等于0;detail=61时status=2;detail=62/63,status等于3;-->
<!--//0为notBegin,1为flowing,2为successFlowed,3为failFlowed-->
<script type="text/html" id="printJob-flow">
    {{#
        var cur_status = 0;
        var flow = d.flow;
        var flow_detail = d.flowDetail;
        if(flow == 0 && flow_detail == 70){
            cur_status = 0;
        }else if(flow == 1 && flow_detail == 61){
            cur_status = 2;
        }else if(flow == 1 && (flow_detail == 62)){
            cur_status = 3;
        }else if(flow == 1 && (flow_detail == 63)){
            cur_status = 4;
        }else{
            cur_status = 1;
        }
        var status = {
            0: {title: i18n("printJob.notBegin"), class: ''},
            1: {title: i18n("printJob.flowing"), class: ''},
            2: {title: i18n("printJob.successFlowed"), class: 'layui-badge febs-bg-green'},
            3: {title: i18n("printJob.failFlowed"), class: 'layui-badge febs-bg-red'},
            4: {title: i18n("printJob.machineCancel"), class: 'layui-badge febs-bg-red'}
        }[cur_status];
    }}
    <span  class="{{status.class}}">{{ status.title }}</span>
<!--    <span>{{ status.title }}</span>-->
    <!--<div><span id="machine-  + {{d.id}}" ></span>666</div>-->
</script>
<script type="text/html" id="printJob-option">
    <span shiro:lacksPermission="printJob:add,printJob:update,printJob:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> <span th:text="#{noPermission}"></span>
    </span>
    <!--<a lay-event="detail" shiro:hasPermission="printJob:view"><i
            class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
    <a lay-event="edit" shiro:hasPermission="printJob:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>-->
    <a lay-event="detail" th:text="#{printJob.detail}" id="printDetail"></a>
    <!--<a lay-event="operation1" shiro:hasPermission="printJob:update" th:text="#{printJob.operation1}"></a>-->
    <a lay-event="printJob" shiro:hasPermission="printJob:view" th:text="#{printJob.operation2}" id="printLabal"></a>
<!--    <a lay-event="printJobCancel" shiro:hasPermission="printJob:update" th:text="#{printJob.operation3}"></a>-->
    <a lay-event="printEdit" shiro:hasPermission="printJob:update" th:text="#{printJob.edit}" id="editLablal"></a>
<!--    <a lay-event="printCheck" shiro:hasPermission="printJob:view" th:text="#{printJob.check}" id="checkLablal"></a>-->
</script>
<script data-th-inline="none" type="text/javascript">
    let flag = true;
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            treeSelect = layui.treeSelect,
            dropdown = layui.dropdown,
            $view = $('#febs-printJob'),
            $query = $view.find('#query'),
            $refreshQuery = $view.find('#refreshQuery'),
            $reset = $view.find('#reset'),
            $add = $view.find('#add'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createdTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;

        form.render();
        
        initSearchView();
        initTable();
        initTableTool();



        /**
         * 查询表单数据
         */
        function queryTable(isFirstQuery){
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            //alert(JSON.stringify(params))
            if (isFirstQuery == 1){
                // alert(JSON.stringify(params))
                tableIns.reload({where: params, page: {curr: 1}});
            }else{
                var pageNum = $view.find(".layui-laypage-em").next().html();
                //alert(11)
                tableIns.reload({where: params, page: {curr: pageNum}});
            }
        }

        /**
         * 初始化搜索栏
         */
        function initSearchView(){

            //搜索点击事件
            $query.on('click', function () {
                /*var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                tableIns.reload({where: params, page: {curr: 1}});*/
                queryTable(1);
            });

            //修改参数后，返回主页，刷新，回到指定页面
            $refreshQuery.on('click', function () {
                queryTable(0);
            })

            //刷新点击事件
            $reset.on('click', function () {
                $searchForm[0].reset();
                sortObject.type = 'null';
                createTimeTo = null;
                createTimeFrom = null;
                tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
            });

            //添加订单 点击事件
            $add.on('click', function () {
                // alert("添加订单")
                febs.modal.open(i18n("printJob.addprintJob"), 'rcs/printJob/add', {
                    btn: [i18n("submit"), i18n("reset")],
                    area: $(window).width() <= 750 ?  ['95%', '95%'] : ['80%', '95%'],
                    offset: '30px',
                    btn: [i18n("submit"), i18n("cancel")],
                    yes: function (index, layero) {
                        $('#printJob-add').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        $('#printJob-add').find('#reset').trigger('click');
                        return false;
                    }
                });
            });

            //更多——弹出窗
            dropdown.render({
                elem: $view.find('.action-more'),
                click: function (name, elem, event) {
                    var checkStatus = table.checkStatus('printJobTable');
                   /* if (name === 'add') {


                    }*/
                    /*if (name === 'delete') {
                        if (!checkStatus.data.length) {
                            febs.alert.warn('请选择需要删除的设备');
                        } else {
                            febs.modal.confirm('删除设备', '确定删除该设备？', function () {
                                var printJobIds = [];
                                layui.each(checkStatus.data, function (key, item) {
                                    printJobIds.push(item.printJobId)
                                });
                                deleteprintJobs(printJobIds.join(','));
                            });
                        }
                    }*/

                   /* if (name === 'export') {
                        var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                        params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                        params.pageNum = $view.find(".layui-laypage-em").next().html();
                        /!*console.log(params)
                        return;*!/
                        febs.download(ctx + 'printJob/excel', params, i18n("printJob.list")+'.xlsx');
                    }*/
                },
                options: [/*{
                    name: 'add',
                    title: i18n("printJob.addprintJob"),
                    perms: 'printJob:add'
                },*/ /*{
                    name: 'delete',
                    title: '删除设备',
                    perms: 'printJob:delete'
                },*/ {
                    name: 'export',
                    title: i18n("exportExcel"),
                    perms: 'printJob:export'
                }]
            });
        }

        /**
         *初始化表格
         */
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'printJobTable',
                url: ctx + 'printJob/list',
                cols: [[
                    //{type: 'checkbox'},
                    {field: 'id', title: i18n("printJob.code"), minWidth: 100},
                    {field: 'contractCode', title: i18n("printJob.contractCode"), minWidth: 100},
                    {field: 'foreseenId', title: i18n("printJob.foreseenId"), event:'foreseenInfo', minWidth: 100,id: 'transactionIdColor', style: 'color:#2db7f5'},
                    {field: 'transactionId', title: i18n("printJob.transactionId"), event:'transactionInfo', minWidth: 100,id: 'transactionIdColor', style: 'color:#2db7f5'},
                    {field: 'frankMachineId', title: i18n("printJob.frankMachineId"), minWidth: 100},
                    {title: i18n("printJob.flow"), templet: '#printJob-flow'},
                    {field: 'createdTime', title: i18n("createTime"), minWidth: 180, sort: false},
                    {title: i18n("operation"), toolbar: '#printJob-option', minWidth: 140}
                ]]
            });
        }

        /**
         * 初始化表格工具栏
         */
        function initTableTool(){
            table.on('tool(printJobTable)', function (obj) {

                        var data = obj.data,
                            layEvent = obj.event;
                        /*
                    if (layEvent === 'del') {
                        febs.modal.confirm('删除设备', '确定删除该设备？', function () {
                            deleteprintJobs(data.printJobId);
                        });
                    }*/

                        if (layEvent === 'detail') {
                            febs.modal.view(i18n("printJob.detail"), 'rcs/printJob/detail/' + data.id, {
                                area: $(window).width() <= 750 ? '95%' : '660px'
                            });
                        }
                        //70未闭环，创建订单状态
                        if (layEvent === 'printEdit' && 70 == data.flowDetail) {
                            if(flag2==true) {
                                febs.modal.open(i18n("printJob.editprintJob"), 'rcs/printJob/update/' + data.id, {
                                    area: $(window).width() <= 750 ? '90%' : '50%',
                                    offset: '30px',
                                    btn: [i18n("submit"), i18n("cancel")],
                                    yes: function (index, layero) {
                                        $('#printJob-update').find('#submit').trigger('click');
                                    },
                                    btn2: function () {
                                        layer.closeAll();
                                    }
                                });
                                //var timer = setTimeout(turnBack, 5000);
                                flag2 = false;
                            }else{
                                febs.alert.success(i18n("printJob.holdon"))
                            }
                        }else if(layEvent === 'printEdit'){
                            febs.alert.success(i18n("printJob.cannotEdit"))
                        }

                        if (layEvent === 'operation1') {
                            // alert("1")
                        }

                        //document.getElementById("a").onclick = "alert(1)";
                        //$('a span').click();
                        //点击第二次才执行
                        if (layEvent === 'printJob') {
                            if(flag1==true) {
                                //console.log(11)
                                //$(this).css("color", "#CCC");
                                //$("#editLablal").css("color","#CCC");
                                var timer = setTimeout(turnBack, 5000);
                                flag1 = false;

                                //$("#printLabal").attr("disabled",true);

                                // if(this.color=="#CCC"){
                                //     console.log(33)
                                // }
                                $('#printLabal').attr('disabled', 'disabled');
                                febs.post(ctx + 'printJob/begin', {id: data.id}, function (res) {

                                let code = res.code
                                if (res.data == "ok") {
                                    febs.alert.success(i18n("operationSuccess"))
                                } else {
                                    // febs.alert.error(i18n("febs.operationFail"))
                                    febs.alert.error(res.data)
                                }
                                //console.log(JSON.stringify(res))
                                queryTable(1);
                            })
                            //noMoreClick();

                                // $("a").one("click",function(){
                                //     $(this).click(function (){
                                //         console.log("1禁止处理中")
                                //         return false;
                                //     });
                                //     console.log("禁止完成")
                                // });
                                //console.log("flag:" + flag)
                            }else{
                                febs.alert.success(i18n("printJob.holdon"))
                            }
                        }

                        if(layEvent === 'printCheck'){

                        }

                        //todo 需要点击后不能再次点击
                        if (layEvent === 'printJobCancel') {
                            febs.post(ctx + 'printJob/cancel', {id: data.id}, function (res) {
                                let code = res.code
                                if (code == 200) {
                                    febs.alert.success(i18n("operationSuccess"))
                                } else {
                                    febs.alert.error(res.message)
                                }
                                console.log(JSON.stringify(res))
                                // queryTable(0);
                            })
                        }

                    if (layEvent === 'foreseenInfo') {
                    //alert(JSON.stringify(data))
                        if(null != data.foreseenId && 0 != data.foreseenId.length){
                            febs.modal.view(i18n("foreseen.detail"), 'rcs/foreseen/detail/' + data.foreseenId, {
                                area: $(window).width() <= 750 ? '95%' : '660px'
                            });
                        }else{
                            febs.alert.success(i18n("printJob.isNull"))
                        }

                    }

                    if (layEvent === 'transactionInfo') {
                        if(null != data.transactionId && 0 != data.transactionId.length){
                            febs.modal.view(i18n("transaction.detail"), 'rcs/transaction/detail/' + data.transactionId, {
                                area: $(window).width() <= 750 ? '95%' : '660px'
                            });
                        }else{
                            febs.alert.success(i18n("printJob.isNull"))
                        }
                    }
                });

            table.on('sort(printJobTable)', function (obj) {
                sortObject = obj;
                tableIns.reload({
                    initSort: obj,
                    where: $.extend(getQueryParams(), {
                        field: obj.field,
                        order: obj.type
                    })
                });
            });

            //监听行单机
            //layuiTable.on('row(tabEmployee)', function (obj) {}
            //监听单元格事件,点击显示交易明细弹窗
            // table.on('row(printJobTable)',function (obj) {
            //     let event = obj.event;
            //     let row = obj.data;
            //     console.info("click call", obj);
            //     if (event === "pro-view") {
            //         // 处理你的业务逻辑
            //         alert("点击生效")
            //     }
            //     alert(11)
            //     var data = obj.table;
            //     if(obj.event==='setSign'){
            //         layer.prompt({
            //             formType:2,
            //             title:'修改ID为'+data.id+'用户',
            //             value:data.sign
            //         },function (value,index) {
            //             layer.close(index);
            //
            //             //发送ajax请求
            //
            //
            //             //同步更新表格和缓存对应的值
            //
            //
            //             obj.update({
            //                 sign:value
            //             });
            //         });
            //     }
            // })
        }

        function turnBack() {
            //alert("恢复打印")
            $("#printLabal").css("color","#2db7f5");
            $("#editLablal").css("color","#2db7f5");
            //$(this).click(function (){return true;});
            //定时恢复flag为true
            flag1 = true;
            flag2 = true;
        }

        /**
         * 获取查询信息
         */
        function getQueryParams() {
            var createTime = $searchForm.find('input[name="createdTime"]').val();
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            return {
                createTimeFrom: createTimeFrom,
                createTimeTo: createTimeTo,
                contractCode: $searchForm.find('input[name="contractCode"]').val().trim(),
                flow: $searchForm.find("select[name='flow']").val(),
                foreseenId: $searchForm.find('input[name="foreseenId"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }
    })
</script>