server:
  port: 88
  tomcat:
    uri-encoding: utf-8
  servlet:
    context-path: /p

spring:
  profiles:
    active: dev

  thymeleaf:
    cache: false

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

  aop:
    proxy-target-class: true

  devtools:
    restart:
      enabled: true  #设置开启热部署

mybatis-plus:
  # 别名 利用包扫描来做，批量定义默认的类的别名，是类名首字母小写
  type-aliases-package: cc.mrbird.febs.*.entity
  mapper-locations: classpath:mapper/*/*.xml
  configuration:
    jdbc-type-for-null: null
  global-config:
    banner: false
    db-config:
      select-strategy: not_empty