server:
  port: 88
  tomcat:
    uri-encoding: utf-8
    max-threads: 200
    max-connections: 5000
    accept-count: 1000

#  undertow:
#    direct-buffers: true
#    io-threads: 4
#    worker-threads: 160
  servlet:
    context-path: /posmart

spring:
  profiles:
#    active: prod
     active: test-ru
#    active: dev-lai
#     active: dev-wang

  thymeleaf:
    cache: false

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

  aop:
    proxy-target-class: true

  devtools:
    restart:
      enabled: true  #设置开启热部署

  # 配置国际化文件路径
  # 文件前缀为message
  messages:
    basename: static/i18n/message

  cache:
    redis:
      # 过期时间
      time-to-live: 1d
      # 写入redis时是否使用键前缀。
      use-key-prefix: true
    cache-names: pos

  data:
    mongodb:
      uri: mongodb://root:Gdpt2022@localhost:27017/russiadb?authSource=admin

jasypt:
  encryptor:
    password: ADCBiQKBgQDBwlcnX0dBhYcjua

mybatis-plus:
  # 别名 利用包扫描来做，批量定义默认的类的别名，是类名首字母小写
  type-aliases-package: cc.mrbird.febs.*.entity
  #mapper-locations: classpath*:mapper/**/*.xml,classpath*:mapper/rcs/**/*.xml
  mapper-locations: classpath*:mapper/*/*.xml
  configuration:
    jdbc-type-for-null: null
  global-config:
    banner: false
    db-config:
      select-strategy: not_empty

log4j2:
  formatMsgNoLookups: True

# ip白名单
# 10.235.1.160/255.255.255.252
# 10.193.86.137-10.193.86.138
# 10.235.1.161/32
# 91.215.36.24
customer:
  whiteIps:
    - 91.215.36.24
    - 10.235.1.160
    - 10.235.1.161
    - 10.193.86.137
    - 10.193.86.138

msg:
  ttl: 10