<div class="layui-fluid layui-anim febs-anim" id="febs-device" th:lay-title="#{device.manage}">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="device-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{acnum}"></label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="acnum" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <!--<div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{device.nickname}"></label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="nickname" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>-->
                                    <!--<div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createdTime" id="device-createTime"
                                                   class="layui-input">
                                        </div>
                                    </div>-->
                                    <!--<div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm" th:text="#{device.status}"></label>
                                        <div class="layui-input-inline">
                                            <select name="deviceStatus">
                                                <option value=""></option>
                                                <option value="0" th:text="#{device.freeze}"></option>
                                                <option value="1" th:text="#{device.normal}"></option>
                                            </select>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="febs-hide" id="refreshQuery"></div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>

                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="device:add,device:update,device:delete,device:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="deviceTable" lay-data="{id: 'deviceTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="device-status">
    {{#
    var status = {
    1: {title: i18n("device.normal"), color: 'green'},
    0: {title: i18n("device.freeze"), color: 'volcano'}
    }[d.curFmStatus];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="device-isOnline">
    {{#
        var status = {
            1: {title: i18n("device.isOnlineTrue"), color: 'green'},
            0: {title: i18n("device.isOnlineFalse"), color: 'red'}
        }[d.isOnline];
    }}
    <span  class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="device-option">
    <span shiro:lacksPermission="device:add,device:update,device:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> <span th:text="#{noPermission}"></span>
    </span>
    <!--<a lay-event="detail" shiro:hasPermission="device:view"><i
            class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
    <a lay-event="edit" shiro:hasPermission="device:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>-->
    <a lay-event="detail"><i class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
    <a lay-event="edit" shiro:hasPermission="device:update"><i class="layui-icon febs-edit-area febs-blue">&#xe642;</i></a>

    <!--todo-->
    <a lay-event="openSSH" shiro:hasPermission="device:update"><i class="layui-icon febs-edit-area febs-blue">&#xe841;</i></a>
    <a lay-event="closeSSH" shiro:hasPermission="device:update"><i class="layui-icon febs-edit-area febs-blue">&#xe842;</i></a>
    <a lay-event="removeConnect" shiro:hasPermission="device:update"><i class="layui-icon febs-edit-area febs-blue">&#xe88c;</i></a>


    <!--  <a lay-event="del" shiro:hasPermission="device:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>-->
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            treeSelect = layui.treeSelect,
            dropdown = layui.dropdown,
            $view = $('#febs-device'),
            $query = $view.find('#query'),
            $refreshQuery = $view.find('#refreshQuery'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createdTime', type: null},
            tableIns,
            createTimeFrom,
            createTimeTo;

        form.render();
        
        initSearchView();
        initTable();
        initTableTool();


        /**
         * 查询表单数据
         */
        function queryTable(isFirstQuery){
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            if (isFirstQuery == 1){
                tableIns.reload({where: params, page: {curr: 1}});
            }else{
                var pageNum = $view.find(".layui-laypage-em").next().html();
                tableIns.reload({where: params, page: {curr: pageNum}});
            }
        }

        /**
         * 初始化搜索栏
         */
        function initSearchView(){

            //搜索点击事件
            $query.on('click', function () {
                /*var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                tableIns.reload({where: params, page: {curr: 1}});*/
                queryTable(1);
            });

            //修改参数后，返回主页，刷新，回到指定页面
            $refreshQuery.on('click', function () {
                queryTable(0);
            })

            //刷新点击事件
            $reset.on('click', function () {
                $searchForm[0].reset();
                sortObject.type = 'null';
                createTimeTo = null;
                createTimeFrom = null;
                tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
            });

            //更多——弹出窗
            dropdown.render({
                elem: $view.find('.action-more'),
                click: function (name, elem, event) {
                    var checkStatus = table.checkStatus('deviceTable');
                    if (name === 'add') {
                        febs.modal.open(i18n("device.addDevice"), 'device/add', {
                            btn: [i18n("submit"), i18n("reset")],
                            area: $(window).width() <= 750 ?  ['90%', '90%'] : ['60%', '90%'],
                            offset: '30px',
                            yes: function (index, layero) {
                                $('#device-add').find('#submit').trigger('click');
                            },
                            btn2: function () {
                                $('#device-add').find('#reset').trigger('click');
                                return false;
                            }
                        });
                    }
                    /*if (name === 'delete') {
                        if (!checkStatus.data.length) {
                            febs.alert.warn('请选择需要删除的设备');
                        } else {
                            febs.modal.confirm('删除设备', '确定删除该设备？', function () {
                                var deviceIds = [];
                                layui.each(checkStatus.data, function (key, item) {
                                    deviceIds.push(item.deviceId)
                                });
                                deletedevices(deviceIds.join(','));
                            });
                        }
                    }*/

                    if (name === 'export') {
                        var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                        params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                        params.pageNum = $view.find(".layui-laypage-em").next().html();
                        /*console.log(params)
                        return;*/
                        febs.download(ctx + 'device/excel', params, i18n("device.list")+'.xlsx');
                    }
                },
                options: [{
                    name: 'add',
                    title: i18n("device.addDevice"),
                    perms: 'device:add'
                }, /*{
                    name: 'delete',
                    title: '删除设备',
                    perms: 'device:delete'
                },*/ {
                    name: 'export',
                    title: i18n("exportExcel"),
                    perms: 'device:export'
                }]
            });
        }

        /**
         *初始化表格
         */
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'deviceTable',
                url: ctx + 'device/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'acnum', title: i18n("acnum"), minWidth: 100},
                    {field: 'nickname', title: i18n("device.nickname"), minWidth: 100},
                    {title: i18n("device.isOnline"), templet: '#device-isOnline'},
                    {field: 'warnAmount', title: i18n("device.warnAmount")},
                    {field: 'maxAmount', title: i18n("device.maxAmount"), minWidth: 165},
                    {field: 'validDays', title: i18n("device.validDays"), minWidth: 180},
                    // {title: i18n("device.status"), templet: '#device-status'},
                    {field: 'createdTime', title: i18n("createTime"), minWidth: 180, sort: false},
                    {title: i18n("operation"), toolbar: '#device-option', minWidth: 140}
                ]]
            });
        }

        /**
         * 初始化表格工具栏
         */
        function initTableTool(){
            table.on('tool(deviceTable)', function (obj) {
                var data = obj.data,
                    layEvent = obj.event;
                /*
                if (layEvent === 'del') {
                    febs.modal.confirm('删除设备', '确定删除该设备？', function () {
                        deletedevices(data.deviceId);
                    });
                }*/

                if (layEvent === 'detail') {
                    febs.modal.view('设备信息', 'device/detail/' + data.deviceId, {
                        area: $(window).width() <= 750 ? '95%' : '660px'
                    });
                }
                if (layEvent === 'edit') {
                    febs.modal.open(i18n("device.editDevice"), 'device/update/' + data.deviceId, {
                        area: $(window).width() <= 750 ?  ['90%', '90%'] : ['60%', '90%'],
                        offset: '30px',
                        btn: [i18n("submit"), i18n("cancel")],
                        yes: function (index, layero) {
                            $('#device-update').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            layer.closeAll();
                        }
                    });
                }

                if (layEvent === 'openSSH') {
                    febs.get(ctx + 'device/openSshPortocol/' + data.acnum, null, function (r) {
                        var content =  r.data == true? "打开ssh指令已发送" : "机器没连接";
                        febs.alert.success(data.acnum + content)
                        if(r.data == true){
                            febs.alert.success(data.acnum + content)
                        }else{
                            febs.alert.warn(data.acnum + content)
                        }
                    });
                }
                if (layEvent === 'closeSSH') {
                    febs.get(ctx + 'device/closeSshPortocol/' + data.acnum, null, function (r) {
                        var content =  r.data == true? "关闭ssh指令已发送" : "机器没连接";
                        if(r.data == true){
                            febs.alert.success(data.acnum + content)
                        }else{
                            febs.alert.warn(data.acnum + content)
                        }
                    });
                }
                if (layEvent === 'removeConnect') {
                    febs.get(ctx + 'device/removeChannelFromNetty/' + data.acnum, null, function (r) {
                        febs.alert.success(data.acnum + "断开和服务器的socket连接")
                    });
                }
            });

            table.on('sort(deviceTable)', function (obj) {
                sortObject = obj;
                tableIns.reload({
                    initSort: obj,
                    where: $.extend(getQueryParams(), {
                        field: obj.field,
                        order: obj.type
                    })
                });
            });
        }


        /**
         * 获取查询信息
         */
        function getQueryParams() {
            /*var createTime = $searchForm.find('input[name="createdTime"]').val();
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }*/
            return {
                // createTimeFrom: createTimeFrom,
                // createTimeTo: createTimeTo,
                acnum: $searchForm.find('input[name="acnum"]').val().trim(),
                // nickname: $searchForm.find('input[name="nickname"]').val().trim(),
                // curFmStatus: $searchForm.find("select[name='deviceStatus']").val(),
                invalidate_ie_cache: new Date()
            };
        }

    })
</script>