<style>
    #device-add {
        padding: 20px 25px 25px 0;
    }

    #device-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }

    #device-add #data-permission-tree-block {
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 3px 0;
    }

    .left-label {
        width: 20%;
    }

    .rigth-view {
        width: 80%;
    }
    /*.layui-form-select {width: 70%;}*/


</style>
<div class="layui-fluid" id="device-add">
    <form class="layui-form" action="" lay-filter="device-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require left-label"  th:text="#{device.acnums}"></label>
            <div class="layui-input-block ">
                <textarea type="text" name="acnumList" th:placeholder="#{device.splitWithdot}"
                          autocomplete="off" class="layui-input rigth-view" style="height: 100px;"></textarea>
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label left-label">设备昵称：</label>
            <div class="layui-input-block">
                <input type="text" name="realname" minlength="2" maxlength="10" lay-verify="nickname"
                       autocomplete="off" class="layui-input rigth-view">
            </div>
        </div>-->
        <div class="layui-form-item ">
            <label class="layui-form-label left-label" th:text="#{device.warnAmount.colon}"></label>
            <div class="layui-input-block">
                <input type="text" name="warnAmount"  autocomplete="off"
                       class="layui-input rigth-view" value="10000.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label left-label" th:text="#{device.maxAmount.colon}"></label>
            <div class="layui-input-block">
                <input type="text" name="maxAmount"   autocomplete="off"
                       class="layui-input rigth-view" value="100000.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label left-label" th:text="#{device.validDays.colon}"></label>
            <div class="layui-input-block">
                <input type="number" name="validDays" lay-verify="number" autocomplete="off"
                       class="layui-input rigth-view" value="7">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require left-label" th:text="#{device.status.colon}"></label>
            <div class="layui-input-block">
                <input type="radio" name="deviceStatus" value="1" th:title="#{device.normal}" checked="">
                <input type="radio" name="deviceStatus" value="0" th:title="#{device.freeze}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require left-label" th:text="#{device.bindTo}"></label>
            <div class="layui-input-inline">
                <select name="bindUserId" id="userList" lay-verify="required" lay-search="" style="width: 500px;">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="device-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            $view = $('#device-add'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        initSelect();

        /**
         * 处理下拉框
         */
        function initSelect() {
            $.ajax({
                url: ctx + "user/deptUserList",
                type: 'get',
                success: function (data) {
                    $.each(data.data, function (index, item) {
                        $('#userList').append("<option value=" + item.userId + ">" + item.username + "</option>");
                    });
                    layui.form.render("select");
                }
            });
        }

        form.on('submit(device-add-form-submit)', function (data) {
            var acnumList = data.field.acnumList;
            if (acnumList.length > 8) {
                if (acnumList.indexOf(",") <= 0) {
                    febs.alert.warn(i18n("device.splitWithdot"))
                    return false;
                }
            }
            var bindUserId = data.field.bindUserId;
            if (bindUserId == ""){
                febs.alert.warn(i18n("device.selectBindUser"))
                return false;
            }

            febs.modal.confirm(i18n("notice"), i18n("device.confirmBindUser"), function () {
                //检查是否重复
                febs.post(ctx + "device/checkIsExist", {acnumList:acnumList}, function (res) {
                    console.log(res)
                    var res = res.data;
                    if (res.isExist == 1) {
                        febs.alert.warn(i18n("acnum") + res.data + i18n("exist"))
                        return false;
                    }
                    // return false;

                    //开始添加
                    febs.post(ctx + 'device/add', data.field, function () {
                        layer.closeAll();
                        febs.alert.success(i18n("device.addDeviceSuccess"));
                        $('#febs-device').find('#refreshQuery').click();
                    });
                })
            })


            return false;
        });
    });
</script>