<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>注资服务器</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/febs.css}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/eleTree.css}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/apexcharts.min.css}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/formSelects-v4.css}" media="all">

    <!-- 高德地图，key为演示作用，请勿滥用-->
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=0e8a587317998a5e03cf608649b229d6&plugin=AMap.Autocomplete"></script>
    <link rel="icon" th:href="@{febs/images/favicon.ico}" type="image/x-icon"/>
</head>
<body>
<div id="febs"></div>
<script th:src="@{layui/layui.js}"></script>
<script th:src="@{websocket/websocket.js}"></script>
<script th:src="@{i18n/jquery-3.5.1.min.js}"></script>
<script th:src="@{i18n/jquery.i18n.properties-min-1.0.9.js}"></script>
<script th:inline="javascript" type="text/javascript">
    var ctx = [[@{/}]];
    //获取默认语言
    var LANG_COUNTRY = [[${#locale.language+'_'+#locale.country}]];
    var currentUser = [[${user}]];
    currentUser.roleSet = [[${roles}]];
    currentUser.permissionSet = [[${permissions}]];
    var hasNewNotice = [[${hasNewNotice}]];
    var websocketServiceName = [[${websocketServiceName}]];

    layui.config({
        base: './febs/',
        debug: true
    }).extend({
        formSelects: 'lay/extends/formSelects-v4.min',
        treeSelect: 'lay/extends/treeSelect',
        apexcharts: 'lay/extends/apexcharts.min',
        eleTree: 'lay/extends/eleTree'
    }).use(['index','jquery']);

    initLaunage();
    //开启websocket
    openSocket(currentUser.userId, websocketServiceName)

    function echo(res) {
        console.log(res)
    }

    function echoObject(object){
        console.log(JSON.stringify(object))
    }

    //初始化语言配置
    function initLaunage() {
        //初始化i18n插件
        $.i18n.properties({
            path: ctx + 'i18n/',//这里表示访问路径
            name: 'message',//文件名开头
            language: LANG_COUNTRY,//文件名语言 例如en_US
            mode: 'both'//默认值
        });
    }

    //初始化i18n函数
    function i18n(msgKey) {
        try {
            return $.i18n.prop(msgKey);
        } catch (e) {
            return msgKey;
        }
    }
</script>
</body>
</html>