<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.rcs.mapper.TaxDeviceUnreceivedMapper">

    <insert id="saveOneUnique">
        insert ignore into rcs_tax_device_unreceived
            (
                fm_id,
                tax_version
            )
        values
            (
                #{bean.frankMachineId},#{bean.taxVersion}
            )
    </insert>
    <insert id="saveUniqueBatch" parameterType="java.util.List">
        insert ignore into rcs_tax_device_unreceived (
            fm_id,
            tax_version
            )
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
                #{item.frankMachineId},#{item.taxVersion}
            )
        </foreach>
    </insert>
</mapper>
